<div class="container">
    <mat-card>
        <img mat-card-image src="assets/images/unicode-code-points-lookup.jpg"
            alt="Zawgyi Unicode Code Points Lookup - Encode Decode, Unicode Codepoints" role="presentation"
            aria-hidden="true">
        <mat-card-content>
            <p>Unicode Code Points Lookup is a Unicode converter (Unicode encode / decode) for converting
                UTF-32/UTF-16/UTF-8 code point sequences to text and vice versa.</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button color="primary" href="https://unicode-code-points-lookup.myanmartools.org">
                GO TO APP
            </a>
        </mat-card-actions>
    </mat-card>

    <p><b>Features</b></p>
    <div class="features">
        <ul>
            <li>Responsive and progressive web design</li>
            <li>Can be used offline (Progressive Web Application - PWA)</li>
            <li>On the fly converting Unicode hex numbers in UTF-32, UTF-16, and UTF-8 formats to their Unicode
                characters
            </li>
            <li>Auto detect Zawgyi and Myanmar Unicode font encodings and display correctly</li>
            <li>Custom fonts can be used for input/output text boxes</li>
            <li>Supported input code point formats: C style (\U000000), JavaScript/Java style (\u0000), ES6 style
                (\u&#123;0000}), U+HEX style (U+0000), \x hex numbers style (\x00)</li>
            <li>Supported output code point formats: JavaScript/Java style (\u0000), ES6 style (\u&#123;0000}), U+HEX
                style
                (U+0000)</li>
        </ul>
    </div>

    <p><b>Related Projects</b></p>
    <div class="related-projects">
        <ul>
            <li>
                <a routerLink="../zawgyi-unicode-converter">Zawgyi Unicode Converter - Cross Platform App</a>
            </li>
            <li>
                <a routerLink="../zawgyi-unicode-converter-android">Zawgyi Unicode Converter - Android App</a>
            </li>
        </ul>
    </div>
</div>
