<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a routerLink="/" itemprop="item"><span itemprop="name" itemid="https://myanmartools.org/">Myanmar
                        Tools</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <span itemprop="name">
                    myanmar-text-fragmenter-js
                </span>
                <meta itemprop="position" content="2" />
            </li>
        </ol>
    </nav>

    <mat-card>
        <mat-card-content>
            <h2 class="sub-title">Myanmar Text Fragmenter JavaScript</h2>
            <p>Myanmar Text (Burmese language) segmentation, fragmentation and splitting JavaScript library modules for
                Web and Node.js applications written in Typescript.</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-flat-button color="primary" href="https://github.com/myanmartools/myanmar-text-fragmenter-js">
                View on GitHub
            </a>
        </mat-card-actions>
    </mat-card>

    <p><b>Related Projects</b></p>
    <div class="related-projects">
        <ul>
            <li>
                <a routerLink="../myanmar-words">myanmar-words</a>
            </li>
        </ul>
    </div>
</div>
