<div class="container">
    <mat-card>
        <img mat-card-image src="assets/images/zawgyi-unicode-converter.jpg"
            alt="Zawgyi Unicode Converter - Online / Offline Intelligent Converter" role="presentation">
        <mat-card-content>
            <h2 class="sub-title">Intelligent & Accurate Free & Open Source Online / Offline Cross Platform Converter
            </h2>
            <p>
                Zawgyi Unicode Converter is a free & open source Zawgyi to Unicode or Unicode to Zawgyi cross platform
                online / offline Myanmar (Burmese) font converter by DagonMetric Myanmar Tools.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-flat-button class="zuc-btn" href="https://zawgyi-unicode-converter.myanmartools.org">
                Go to Zawgyi Unicode Converter App
            </a>
        </mat-card-actions>
    </mat-card>

    <p><b>Features</b></p>
    <div class="features">
        <ul>
            <li>Ability to convert Zawgyi to standard Myanmar Unicode and standard Myanmar Unicode to Zawgyi.</li>
            <li>Amazing correctness in every Zawgyi Unicode conversion.</li>
            <li>Intelligent understanding of input font text (Zawgyi or Unicode) and convert automatically.</li>
            <li> Ability to use anytime even disconnected from internet (it is a progressive web application - PWA).
            </li>
            <li>Fully tested with words and text from Myanmar Dictionaries, Myanmar Spelling Book and social media
                posts.</li>
            <li>Free, open source and MIT license!</li>
        </ul>

        <div lang="my-MM" class="my-uni">
            <p>
                Zawgyi Unicode Converter သည် ဇော်ဂျီ နှင့် မြန်မာ ယူနီကုဒ် တို့ကို အပြန်အလှန်
                ပြောင်းပေးနိုင်တဲ့ Progressive Web Application တစ်ခုပါ။ ၎င်းကို DagonMetric Myanmar Tools
                အဖွဲ့ကနေ
                ဖန်တီးခဲ့ပြီး အခမဲ့၊ open source အနေနှင့် မျှဝေထားခြင်းဖြစ်ပါတယ်။
            </p>

            <p><b>ထူးခြားချက်များ</b></p>
            <ul class="my-uni">
                <li>ဇော်ဂျီ နှင့် မြန်မာ ယူနီကုဒ် တို့ကို အပြန်အလှန် အမှားအယွင်းမရှိ တိကျမှန်ကန်စွာ
                    ပြောင်းပေးနိုင်ခြင်း
                </li>
                <li>စာရိုက်လိုက်တာနှင့် ဇော်ဂျီလား၊ ယူနီကုဒ်လား ဆိုတာကို သိရှိနားလည်ပြီး အလိုအလျောက်
                    ပြောင်းလဲပေးခြင်း</li>
                <li>အင်တာနက် မရှိချိန်တွင်လည်း အချိန်မရွေး အသုံးပြုနိုင်ခြင်း</li>
                <li>အခမဲ့နှင့် open source ဖြစ်ခြင်း</li>
            </ul>
        </div>
    </div>

    <p><b>Related Projects</b></p>
    <div class="related-projects">
        <ul>
            <li>
                <a routerLink="../zawgyi-unicode-converter-android">Zawgyi Unicode Converter - Android App</a>
            </li>
            <li>
                <a routerLink="../unicode-code-point-lookup">Unicode Code Point Lookup</a>
            </li>
            <li>
                <a routerLink="../ng-translit">ng-translit</a>
            </li>
            <li>
                <a routerLink="../ng-zawgyi-detector">ng-zawgyi-detector</a>
            </li>
            <li>
                <a routerLink="../zawgyi-unicode-translit-rules">zawgyi-unicode-translit-rules</a>
            </li>
        </ul>
    </div>
</div>
