<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a routerLink="/" itemprop="item"><span itemprop="name" itemid="https://myanmartools.org/">Myanmar
                        Tools</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <span itemprop="name">
                    myanmar-words
                </span>
                <meta itemprop="position" content="2" />
            </li>
        </ol>
    </nav>

    <mat-card>
        <mat-card-content>
            <h2 class="sub-title">Myanmar Words</h2>
            <p>Myanmar (Burmese) word list (text files) by part of speech.</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-flat-button color="primary" href="https://github.com/myanmartools/myanmar-words">
                View on GitHub
            </a>
        </mat-card-actions>
    </mat-card>

    <p><b>Related Projects</b></p>
    <div class="related-projects">
        <ul>
            <li>
                <a routerLink="../myanmar-text-fragmenter-js">myanmar-text-fragmenter-js</a>
            </li>
        </ul>
    </div>
</div>
