<div class="container">
    <mat-card>
        <img mat-card-image src="assets/images/zawgyi-unicode-converter-android.jpg"
            alt="Zawgyi Unicode Converter - Free & Open Source Android App" role="presentation" aria-hidden="true">
        <mat-card-content>
            <h2 class="sub-title">Intelligent & Accurate Free & Open Source Android App</h2>
            <p>
                Zawgyi Unicode Converter Android app / apk is a free open source Zawgyi to Unicode or Unicode to Zawgyi
                Myanmar (Burmese) font converter created by DagonMetric Myanmar Tools.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-flat-button class="zuc-btn"
                href='https://play.google.com/store/apps/details?id=com.dagonmetric.zawgyiunicodeconverter'>
                Get App on Google Play
            </a>
        </mat-card-actions>
    </mat-card>

    <p><b>Features</b></p>
    <div class="features">
        <ul>
            <li>Ability to convert Zawgyi to standard Myanmar Unicode and standard Myanmar Unicode to Zawgyi.</li>
            <li>Amazing correctness in every Zawgyi Unicode conversion.</li>
            <li>Intelligent understanding of input font encoding (Zawgyi or Unicode) and convert automatically.</li>
            <li>Ability to convert Zawgyi or Unicode from any app Share menu.</li>
            <li> Ability to use anytime even disconnected from internet (can be used offline).</li>
            <li>Fully tested with words and text from Myanmar Dictionaries, Myanmar Spelling Book and social media
                posts.</li>
            <li>Free, open source, No Ads and MIT license!</li>
        </ul>

        <div lang="my-MM" class="my-uni">
            <p>
                Zawgyi Unicode Converter Android App ကို DagonMetric ရဲ့ Myanmar Tools
                အဖွဲ့ကနေ ဖန်တီးခဲ့ပြီး open source MIT license အနေနှင့် အခမဲ့ မျှဝေထားခြင်းဖြစ်ပါတယ်။
            </p>

            <p><b>ထူးခြားချက်များ</b></p>
            <ul class="my-uni">
                <li>ဇော်ဂျီ နှင့် မြန်မာ ယူနီကုဒ် တို့ကို အပြန်အလှန် အမှားအယွင်းမရှိ တိကျမှန်ကန်စွာ
                    ပြောင်းပေးနိုင်ခြင်း
                </li>
                <li>စာရိုက်လိုက်တာနှင့် ဇော်ဂျီလား၊ ယူနီကုဒ်လား ဆိုတာကို သိရှိနားလည်ပြီး အလိုအလျောက်
                    ပြောင်းလဲပေးခြင်း</li>
                <li>
                    SMS Messaging, Viber စတဲ့ app များကနေ ဖတ်မရတဲ့ စာသားတွေကို Share menu ကနေ တဆင့် Zawgyi
                    Unicode
                    Converter ကို ပေးပို့ခြင်းဖြင့် လွယ်ကူမြန်ဆန်စွာ ဇော်ဂျီ ယူနီကုဒ် ပြောင်းပေးနိုင်ခြင်း
                </li>
                <li>အင်တာနက် မရှိချိန်တွင်လည်း အချိန်မရွေး အသုံးပြုနိုင်ခြင်း</li>
                <li>ကြော်ငြာများ မပါရှိခြင်း၊ အခမဲ့ဖြစ်ခြင်းအပြင် open source ကိုပါ GitHub ကနေရယူနိုင်ခြင်း</li>
            </ul>
        </div>
    </div>

    <p>
        <a class="app-badge-button" mat-icon-button
            href='https://play.google.com/store/apps/details?id=com.dagonmetric.zawgyiunicodeconverter&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'
            title="Get Zawgyi Unicode Converter App on Google Play">
            <mat-icon svgIcon="logo-google-play-badge"></mat-icon>
        </a>
    </p>

    <p><b>Related Projects</b></p>
    <div class="related-projects">
        <ul>
            <li>
                <a routerLink="../zawgyi-unicode-converter">Zawgyi Unicode Converter - Cross Platform Converter</a>
            </li>
            <li>
                <a routerLink="../unicode-code-points-lookup">Unicode Code Points Lookup</a>
            </li>
            <li>
                <a routerLink="../ng-translit">ng-translit</a>
            </li>
            <li>
                <a routerLink="../ng-zawgyi-detector">ng-zawgyi-detector</a>
            </li>
            <li>
                <a routerLink="../zawgyi-unicode-translit-rules">zawgyi-unicode-translit-rules</a>
            </li>
        </ul>
    </div>
</div>
