<div class="container">
    <mat-card>
        <mat-card-content>
            <h2 class="sub-title">Zawgyi and Standard Myanmar Unicode Detector for Angular</h2>
            <p>Open source Zawgyi-One and standard Myanmar Unicode detector library for Angular applications.</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-flat-button color="primary" href="https://github.com/myanmartools/ng-zawgyi-detector">
                View on GitHub
            </a>
        </mat-card-actions>
    </mat-card>

    <p><b>Features</b></p>
    <div class="features">
        <ul>
            <li>Accurate &amp; performance optimized detection for both Zawgyi-One <span class="my-uni"
                    lang="my-MM">(ဇော်ဂျီ)</span> and standard Myanmar Unicode
                <span class="my-uni" lang="my-MM">(မြန်မာ ယူနီကုဒ်)</span></li>
            <li>Intelligent chunk by chunk detection on mix-typed input (Mixed Zawgyi and Unicode)</li>
            <li>Fully tested with Myanmar Spelling Book <span class="my-uni" lang="my-MM">(မြန်မာ စာလုံးပေါင်း
                    သတ်ပုံကျမ်း)</span> data</li>
            <li>Deep detection on <code>A That</code> <span class="my-uni" lang="my-MM">(အသက်)</span>,
                <code>Pahsin</code>
                <span class="my-uni" lang="my-MM">(ပါဌ်ဆင့်)</span>, <code>Kinsi</code> <span class="my-uni"
                    lang="my-MM">(ကင်းစီး)</span>,
                etc.</li>
            <li>Work with latest version of Angular</li>
            <li>Compatible with Angular Universal (Node.js Server Side Rendering - SSR)</li>
        </ul>
    </div>

    <p><b>Related Projects</b></p>
    <div class="related-projects">
        <ul>
            <li>
                <a routerLink="../ng-translit">ng-translit</a>
            </li>
            <li>
                <a routerLink="../zawgyi-unicode-translit-rules">zawgyi-unicode-translit-rules</a>
            </li>
            <li>
                <a routerLink="../zawgyi-unicode-converter">Zawgyi Unicode Converter - Cross Platform App</a>
            </li>
            <li>
                <a routerLink="../zawgyi-unicode-converter-android">Zawgyi Unicode Converter - Android App</a>
            </li>
            <li>
                <a routerLink="../unicode-code-points-lookup">Unicode Code Points Lookup</a>
            </li>
        </ul>
    </div>
</div>
