<div class="container">
    <mat-card>
        <img mat-card-image src="assets/images/unicode-code-point-lookup.jpg"
            alt="Zawgyi Unicode Code Point Lookup - Encode Decode, Unicode Codepoints" role="presentation"
            aria-hidden="true">
        <mat-card-content>
            <h2 class="sub-title">Unicode Encode / Decode Converter</h2>
            <p>Unicode Code Point Lookup is a Unicode encode / decode converter for converting UTF-32/UTF-16/UTF-8 code
                point sequences to text and vice versa created by DagonMetric MyanmarTools.</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-flat-button class="ucpl-btn" href="https://unicode-code-point-lookup.myanmartools.org">
                Go to Unicode Code Point Lookup App
            </a>
        </mat-card-actions>
    </mat-card>

    <p><b>Features</b></p>
    <div class="features">
        <ul>
            <li>Responsive and progressive web design</li>
            <li>Can be used offline (Progressive Web Application - PWA)</li>
            <li>On the fly converting Unicode hex numbers in UTF-32, UTF-16, and UTF-8 formats to their Unicode
                characters
            </li>
            <li>Auto detect Zawgyi and Myanmar Unicode font encodings and display correctly</li>
            <li>Custom fonts can be used for input/output text boxes</li>
            <li>Supported input code point formats: C style (\U000000), JavaScript/Java style (\u0000), ES6 style
                (\u&#123;0000}), U+HEX style (U+0000), \x hex numbers style (\x00)</li>
            <li>Supported output code point formats: JavaScript/Java style (\u0000), ES6 style (\u&#123;0000}), U+HEX
                style
                (U+0000)</li>
        </ul>
    </div>

    <p><b>Source Code</b></p>
    <p>
        Get source code on GitHub - <a href="https://github.com/myanmartools/unicode-code-point-lookup-pwa"
            target="_blank" rel="noopener">myanmartools/unicode-code-point-lookup-pwa</a>
    </p>

    <p><b>Related Projects</b></p>
    <div class="related-projects">
        <ul>
            <li>
                <a routerLink="../zawgyi-unicode-converter">Zawgyi Unicode Converter - Cross Platform Converter</a>
            </li>
            <li>
                <a routerLink="../zawgyi-unicode-converter-android">Zawgyi Unicode Converter - Android App</a>
            </li>
            <li>
                <a routerLink="../ng-translit">ng-translit</a>
            </li>
            <li>
                <a routerLink="../ng-zawgyi-detector">ng-zawgyi-detector</a>
            </li>
            <li>
                <a routerLink="../zawgyi-unicode-translit-rules">zawgyi-unicode-translit-rules</a>
            </li>
        </ul>
    </div>
</div>
