<div class="container">
    <mat-card>
        <mat-card-content>
            <h2 class="sub-title">Zawgyi Unicode Transliterate Rules</h2>
            <p>Open source Zawgyi Unicode transliterate / convert regular expression rules in JSON and JavaScript
                formats using <a routerLink="../ng-translit">@DagonMetric/ng-translit</a>.</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-flat-button color="primary" href="https://github.com/myanmartools/zawgyi-unicode-translit-rules">
                View on GitHub
            </a>
        </mat-card-actions>
    </mat-card>

    <p><b>Features</b></p>
    <div class="features">
        <ul>
            <li>High performance, reliable, accurate and perfect Zawgyi to Unicode and Unicode to Zawgyi conversion
                rules
            </li>
            <li>Fully tested with Myanmar Spelling Book <span class="my-uni" lang="my-MM">(မြန်မာ စာလုံးပေါင်း
                    သတ်ပုံကျမ်း)</span> data</li>
            <li>Overlapped characters normalization</li>
            <li>Space between accented characters normalization</li>
            <li>Order normalization</li>
            <li>Specialized conversion on Pahsin <span class="my-uni" lang="my-MM">(ပါဌ်ဆင့်)</span> and Kinsi <span
                    class="my-uni" lang="my-MM">(ကင်းစီး)</span></li>
            <li>Auto checking and converting between <span class="my-uni" lang="my-MM">'ဉ'</span> (\u1009) and <span
                    class="my-uni" lang="my-MM">'ဥ'</span> (\u1025)</li>
            <li>Auto checking and converting from <span class="my-uni" lang="my-MM">'ဦ'</span> (\u1025\u102E) to <span
                    class="my-uni" lang="my-MM">'ဦ'</span> (\u1026)</li>
            <li>Deep checking and converting between <span class="my-uni" lang="my-MM">'၀' (သုည</span> \u1040) and <span
                    class="my-uni" lang="my-MM">'ဝ' (ဝလုံး</span> \u101D)</li>
            <li>Customizable on/off rule parsing with <code>when</code> and <code>skip</code> options</li>
            <li>100% code coverage unit tested</li>
        </ul>
    </div>

    <p><b>Related Projects</b></p>
    <div class="related-projects">
        <ul>
            <li>
                <a routerLink="../ng-translit">ng-translit</a>
            </li>
            <li>
                <a routerLink="../ng-zawgyi-detector">ng-zawgyi-detector</a>
            </li>
            <li>
                <a routerLink="../zawgyi-unicode-converter">Zawgyi Unicode Converter - Cross Platform App</a>
            </li>
            <li>
                <a routerLink="../zawgyi-unicode-converter-android">Zawgyi Unicode Converter - Android App</a>
            </li>
            <li>
                <a routerLink="../unicode-code-points-lookup">Unicode Code Points Lookup</a>
            </li>
        </ul>
    </div>
</div>
