<div class="container">
    <p><b class="myanmartools-sub-title">Open Source Myanmar Software Tools</b></p>
    <p>
        Open source projects for Myanmar specific software applications, libraries, utilities, language, script, Unicode
        and font tools by DagonMetric Myanmar Tools.
    </p>
    <p>
        <a mat-flat-button color="primary" href="https://github.com/myanmartools">View Myanmar Tools on GitHub</a>
    </p>
    <h2 class="card-section-header">Cross Platform Apps</h2>
    <mat-card>
        <mat-card-subtitle><a routerLink="/zawgyi-unicode-converter">Zawgyi Unicode Converter</a>
        </mat-card-subtitle>
        <mat-card-content>
            <p>
                Zawgyi Unicode Converter is a cross platform progressive web application (PWA) that automatically
                detects and converts Zawgyi to Unicode or Unicode to Zawgyi font text.
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-subtitle><a routerLink="/unicode-code-point-lookup">Unicode Code Point Lookup</a>
        </mat-card-subtitle>
        <mat-card-content>
            <p>
                Unicode Code Point Lookup is a Unicode converter (Unicode encode / decode) for converting
                UTF-32/UTF-16/UTF-8 code point sequences to text and vice versa.
            </p>
        </mat-card-content>
    </mat-card>
    <h2 class="card-section-header">Android Apps</h2>
    <mat-card>
        <mat-card-subtitle><a routerLink="/zawgyi-unicode-converter-android">Zawgyi Unicode Converter Android App</a>
        </mat-card-subtitle>
        <mat-card-content>
            <p>
                Zawgyi Unicode Converter Android App is a free & open source Zawgyi-One and standard Myanmar Unicode
                intelligent converter app / apk for Android.
            </p>
        </mat-card-content>
    </mat-card>
    <h2 class="card-section-header">Library Packages</h2>
    <mat-card>
        <mat-card-subtitle><a routerLink="/ng-translit">DagonMetric/ng-translit</a>
        </mat-card-subtitle>
        <mat-card-content>
            <p>Transliteration service for Angular which can be used in swapping letters such as α → a, <span
                    class="my-uni" lang="my-MM">၎</span> → <span class="my-uni" lang="my-MM">၎င်း</span> or Zawgyi-One
                to standard Myanmar Unicode.</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-subtitle><a routerLink="/zawgyi-unicode-translit-rules">myanmartools/zawgyi-unicode-translit-rules</a>
        </mat-card-subtitle>
        <mat-card-content>
            <p>Zawgyi Unicode transliterate / convert regular expression rules in JSON and JavaScript formats using <a
                    routerLink="/ng-translit">DagonMetric/ng-translit</a>.</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-subtitle><a routerLink="/ng-zawgyi-detector">myanmartools/ng-zawgyi-detector</a>
        </mat-card-subtitle>
        <mat-card-content>
            <p>
                Zawgyi-One and standard Myanmar Unicode detector library for Angular applications.
            </p>
        </mat-card-content>
    </mat-card>
</div>
